<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <!-- Add your EJS code here -->
    <header>
        <% include ../partials/_header %>
    </header>
    <main>
        <% if (Object.keys(urls).length) { %>
            <ul>
                <% for (urlFound in urls) { %>
                    <li>
                        <%= urlFound + ": " + urls[urlFound].longURL %>
                    </li>
                    <form method="POST" action="/urls/<%=urlFound%>/delete">
                        <input type="submit" value="DELETE">
                    </form>
                    <form method="GET" action="/urls/<%=urlFound%>">
                        <input type="submit" value="EDIT">
                        <a href="/u/<%=urlFound%>">Click here to go to address</a>
                    </form>
                    <% } %>
            </ul>
            <% } %>
                <p><a href="/urls/new">Go here to Shorten a new URL !</a> </p>
    </main>
</body>

</html>